
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.logo span {
    color: #ff3333;
    font-size: 30px;
}
.color1 {
    color: rebeccapurple;
}
/* style header */
header {
    width: 100%;
    height: 10%;
    background-color: #fff;
    /* border-bottom: 1px solid rgba(75, 72, 72, 0.5); */
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 100000;
}
header nav ul {
    list-style: none;   
}
header .logo h2 {
    font-size: 28px;
    letter-spacing: 2px;
}
header nav ul li {
    display: inline-block;
    margin: 20px 15px;
}
header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}
header nav ul li a:hover {
    color: #ff3333;
    transition: 0.5s;
}
header nav ul li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: #ff3333;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
header nav ul li a:hover:after {
    width: 100%;
}
header .menubar ul {
    list-style: none;
}
header .menubar ul li {
    display: inline-block;
    margin: 0px 5px;
}
header .menubar ul li a{
    color: #333;
}
.menubar fa-paw:hover,
.menubar fa-user:hover, 
.menubar fa-shopping-bag:hover {
   color: #666;
}
header .menubar ul li input[type="text"] {
    margin-right: 5px;
    outline: none;
    padding: 8px 20px;
    position: relative;
    border-radius: 8px;
    padding-left: 50px;
    border:none;
    border: 1px solid rgba(75, 72, 72, 0.5);
}
header .menubar ul li .fa-search {
    position: absolute;
    top: 37%;
    right: 24%;
    color: #666;
    font-size: 20px;
}
/* style menu and submenu*/

.menu {
    position: relative;
}
.menu .nu:hover .submenu {
    display: block;
    transform: 0.5s;
}
.menu .nam:hover .submenu {
    display: block;
    transform: 0.5s;
}
.menu .treem:hover .submenu {
    display: block;
    transform: 0.5s;
}
.menu .sale:hover .submenu {
    display: block;
    transform: 0.5s;
}
.menu .khautrang:hover .submenu {
    display: block;
    transform: 0.5s;
}
.menu .bts:hover .submenu {
    display: block;
    transform: 0.5s;
}
.menu .thongtin:hover .submenu {
    display: block;
    transform: 0.5s;
}

.menu .submenu {
    position: absolute;
    width: 205%;
    height: 50vh;
    margin: auto;
    border: 1px solid rgba(75, 72, 72, 0.5);
    background: #eeeef5;
    margin-top: 4%; 
    display: none;
    top: 30px;
    left: 0;
}
.submenu li a {
    font-size: 16px;
    text-transform: capitalize;
}
.submenu .app ul li  {
    display: block;
    margin: 15px 0;
}
.submenu .app ul {
    position: absolute;
}
.submenu .app ul li a {
    color: #333;
    font-size: 14px;
    font-weight: normal;
}
.submenu .app a:hover {
    color: #ff3333;
}
.submenu .tool ul {
    position: absolute;
}
.submenu .tool ul li  {
    display: block;
    margin: 15px 0;
}
.submenu .tool ul li  {
    display: block;
}
.submenu .tool ul li a {
    color: #333;
    font-size: 14px;
    font-weight: normal;
}
.submenu .tool a:hover {
    color: #ff3333;
}
.submenu .tool {
    margin: 0px 60px;
}
/* style container */
.container {
    width: 90%;
    margin: auto;
    /* background-color: aquamarine; */
    padding-top: 5%;
}
.container .navbar {
    width: 100%;
    height: 10%;
    background-color: #ff3333;
    display: flex;
    flex-wrap: wrap;
}
.navbar p {
    padding: 20px;
}
.navbar .left-container {
    flex-basis: 33%;
    text-align: center;
    background-color: #ff3333;
    font-size: 18px;
    font-weight: 400;
}
.navbar .center-container {
    flex-basis: 34%;
    text-align: center;
    text-transform: uppercase;
    background-color: #e57f37;
    font-size: 18px;
    font-weight: 400;
}
.navbar .right-container {
    flex-basis: 33%;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    background-color: #C82E31;
}
/* style panner-img */
.slider {
    padding-top: 20px;
    width: 90%;
    /* height: 100vh; */
    margin: auto;
    overflow: hidden;
    
}
.paner-img {
    width: 100%;
    height: 600px;
    position: relative;
    transition: 0.50s;
    margin-bottom: 20px;
}
.paner-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    display: block;
    border-top-right-radius: 230px ;
    border-bottom-left-radius: 230px ;   
    z-index: -1;
}

/* style dot-contianer */
.dot-container {
    position: absolute;
    width: 90%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #000;

    /* background-color: #666; */
}
.dot {
    width: 16px;
    height: 16px;
    margin: 0px 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

/* style active */
.dot.active {
    background-color: #666;
}
/* style app-container */
.app-container {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    margin-bottom: -100px;
}

/*.footer_container {
        width: 100%;
        clear: both;
        position: absolute;
        top: 1700px;
        z-index: -1;
}

/* style thongtin */
.thongtin {
    flex-basis: 20%;    
}
.thongtin-img img {
    width: 80px;
}
.thontin-content p {
    padding: 10px 0;
    letter-spacing: 1.4px;
    font-size: 13px;
}
/* style gioithieu */
.gioithieu {
    flex-basis: 20%;
    margin-top: -60px;
    text-align: center;
}
.gioithieu p {
    padding: 10px 0;
    letter-spacing: 1.4px;
    font-size: 13px;
}
/* style dichvu */
.dichvu {
    flex-basis: 20%;
    margin-top: 60px;
    text-align: center;
}
.dichvu p {
    padding: 10px 0;
    letter-spacing: 1.4px;
    font-size: 13px;
}
/* style lienhe */
.lienhe {
    flex-basis: 20%;
    margin-top: 30px;
    text-align: center;
}
.lienhe p {
    padding: 10px 0;
    letter-spacing: 1.4px;
    font-size: 13px;
}
/* style save-gmail */
.save-gmail {
    flex-basis: 20%;
    margin-top: 30px;
}
.save-gmail p {
    padding: 10px 0;
    letter-spacing: 1.4px;
    font-size: 13px;
}
.save-gmail .box-gmail {
    width: 100%;
    height: 200px;
    /* background-color: #333; */
    border: 1px solid #000;
    border-top-right-radius: 50px ;
    border-bottom-left-radius: 50px ; 
}
.box-gmail h3 {
    width: 80%;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 25px;
}
.box-gmail .btn {
    width: 100%;
    margin: auto;
    padding-left: 28px;
}
.box-gmail input {
    padding: 7px 1px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
}
.box-gmail button {
    padding: 7px 1px;
    background: none;
    border-top-right-radius: 5px ;
    border-bottom-left-radius: 5px ; 
    border: none;
    border: 1px solid #999;
    outline: none;
}
.box-gmail button:hover {
    background-color: #C82E31;
    transition: 0.5s;
}
/* style footer  */
.footer {
    border-top: 1px solid rgb(157, 155, 155);
}
.footer p {
    padding: 10px 0;
    text-align: center;
    color: #666;
    
}

/* style cartegory */
.cartegory {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: -20px;
    /* background-color: #e57f37; */
}
/* .cartegory .row {
    display: flex;
    align-items: center;
} */
.cartegory_top {
    display: flex;
    align-items: center;    
}
.cartegory_top span {
    color: #999;
    margin: 0px 10px;
}
.cartegory_top p {
    color: #666;
}
.cartegory_top .black {
    color: #333;
}
.cartegory_left {
    /* background-color: #C82E31; */
    width: 25%;
    height: 100%;
    float: left;
    
}
.cartegory_left span {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cartegory_left span button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    margin-top: -20px;
    cursor: pointer;
}
.cartegory_left ul{
    list-style: none;
}
.cartegory_left ul li {
    margin: 30px 0;
}
.cartegory_left ul li a {
    text-decoration: none;
    color: #000;
}
.cartegory_left .btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cartegory_left .btn-boloc button {
    padding: 10px 40px;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px ; 
}
.btn-boloc button:hover {
    background-color: #000;
    color: #fff;
    
}
.cartegory_left .btn-loc button {
    padding: 10px 40px;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px ; 
    color: #fff;
    background-color: transparent;
    background-color: #000;
}
.btn-loc button:hover{
    background-color: #fff; 
    color: #000;
}
/* style .cartegory_right */
.cartegory_right {
    float: left;
    /* background-color: rgb(179, 52, 52); */
    width: 75%;
    height: 1200px;
}
.cartegory_right_top_item {
    margin: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.cartegory_right_top_item p {
    font-size: 23px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}
.cartegory_img img {
    width: 100%;
    height: 320px;
    margin-bottom: 10px;
}
.cartegory_img {
    text-align: center;
}
.cartegory_img p {
    margin: 10px 0;
}
.cartegory_right_img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 100px ));
    grid-gap: 10px;
    margin-left: 20px;
}  
.cartegory_img span {
    font-size: 18px;
    color: #000;
}
.cartegory_combobox  {
    width: 200px;
    background-color: #fff;
}
/* style cartegory_left_size */
.cartegory_left_size {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    /* background-color: #666; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12px, 1fr));
    grid-gap: 0px;
    display: none;
}
.cartegory_left_size button {
    padding: 10px 20px;
    border-top-right-radius: 5px ;
    border-bottom-left-radius: 5px ; 
    border: 1px solid #666;
    cursor: pointer;
}
.cartegory_left_size button:hover {
    background-color: #000;
    color: #fff;
}
/* .cartegory_left .size:hover .cartegory_left_size {
    display: grid;
} */
/* style cartegory_left_color */
.cartegory_left_color {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    /* background-color: #666; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12px, 1fr));
    grid-gap: 20px;
    position: relative;
    /* z-index: -1; */
    display: none;
}
.cartegory_left .size.block .cartegory_left_click {
    display: grid;
}
.cartegory_left_color button {
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.cartegory_left_color .red::after {
    content: "";
    position: absolute;
    padding: 10px;
    background-color: #C82E31;
    border-radius: 50%;
}
.cartegory_left_color .blue::after {
    content: "";
    position: absolute;
    padding: 10px;
    background-color: blue;
    border-radius: 50%;
}
.cartegory_left_color .white::after {
    content: "";
    position: absolute;
    padding: 10px;
    background-color: #ccc;
    border-radius: 50%;
}
.cartegory_left_color .black::after {
    content: "";
    position: absolute;
    padding: 10px;
    background-color: #000;
    border-radius: 50%;
}
.cartegory_left_color .green::after {
    content: "";
    position: absolute;
    padding: 10px;
    background-color: green;
    border-radius: 50%;
}
/* .cartegory_left .color:hover .cartegory_left_color {
    display: grid;
} */
/* style cartegory_page */
.cartegory_page {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.cartegory_page p {
    padding: 10px 15px;
    border: 1px solid #000;
    margin: 0px 10px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.cartegory_page p:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/* style product */
.product {
    width: 100%;
    height: 130vh;
}
.product .product_top {
    display: flex;
    align-items: center;
}
.product_content {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.product_content .product_left {
    flex: 1 1 200px;
    /* background-color: #C82E31; */
    position: relative;
}
.product_left img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.product_content .product_center {
    flex: 1 1 10px;
    position: relative;
    /* background-color: #7da02c; */
}
.product_center {
    width: 100%;
    height: 1300px;
}
.product_center img {
    width: 130px;
    height: 180px;
    display: flex;
    margin: auto;
    padding-bottom: 20px;
    object-fit: cover;
}
.product_center::after {
    content: "<";
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}
.product_center::before {
    content: ">";
    width: 100%;
    position: absolute;
    top: 67%;
    transform: rotate(90deg);
}
.product_center img:first-child {
    margin-top: 30px;
}
.product_content .product_right {
    flex: 1 1 380px;
    /* background-color: #381da7; */
    padding: 0px 105px ;
}
.product_right h1 {
    margin-bottom: 30px;
}
.product_right .information {
    margin-top: 50px;
    /* background-color: #333; */
}
/* style .information */
.information {
    height: 100vh auto;
}
.information_content_items {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #999;
}
.information_content_items  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.information_content_items_tab1 p {
    cursor: pointer;
}
.information_content_items_text {
    margin-top: 30px;
    text-align: justify;
    /* background-color: #333; */
}
.information_content_items_text_chitietsanpham, 
.information_content_items_text_baoquan
{
    display: none;
}
.chitiet-content {
    display: flex;
    margin-bottom: 10px;
    
}
.chitiet-content p {
    font-weight: bold;
    flex-basis: 50%;
}
.chitiet-content span {
    color: #999;
    flex-basis: 50%;

}
/* style .product_info */
.product_info {
    display: flex;
}
.product_info p {
    color: #666;
    margin-right: 20px;
    margin-bottom: 30px;
}
.product_info  i {
    color: #f9ed4e;
}
/* style .product_price */
.product_price p {
    font-size: 26px;
    font-weight: bold;
}
/* style .choose_color */
.product_choose {
    margin-top: 20px;
}
.choose_color {
    position: relative;
    margin: 20px 0;
}
.choose_color span {
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
}
.choose_color .red:hover::after {
    transform: scale(1.2);
}
.choose_color .blue:hover::after {
    transform: scale(1.2);
}
.choose_color .red::after {
    content: "";
    position: absolute;
    padding: 15px;
    background-color: red;
    border-radius: 50%;
}
.choose_color .blue::after {
    content: "";
    position: absolute;
    padding: 15px;
    background-color: blue;
    border-radius: 50%;
}
/* style choose_size */
.choose_size {
    display: flex;
    margin-bottom: 30px;
}
.choose_size p {
    padding: 5px 20px;
    border: 1px solid #999;
    font-size: 25px;
    color: #666;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
}
.choose_size p:hover {
    background-color: #000;
    color: #fff;
}
.product_choose .kiemtra {
    font-size: 15px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 30px;
}
/* style choose_amount */
.choose_amount {
    display: flex;
}
.choose_amount p {
    margin-right: 20px;
}
.choose_amount input {
    width: 130px;
    outline: none;
    margin-bottom: 50px;
}
.product_choose a {
    color: #333;
}
.choose_buy button {
    padding: 10px 20px;
    background: transparent;
    border: none;
    border: 1px solid #333;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}
.choose_buy {
    margin-bottom: 30px;
}
.choose_buy .themvaogio:hover {
    background-color: #fff;
    color: #000;
        transition: all 0.7s;
}
.choose_buy .muahang:hover {
    transition: all 0.7s;
    background-color: #000;
    color: #fff;
}
.choose_buy .like:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.7s;
}
.choose_buy .themvaogio {
    background-color: #000;
    color: #fff;
}

/*--------------------------------- style Cart --------------------------------------*/
.cart {
    padding: 100px 0;
    border-bottom: 3px solid black;
}
.cart_top_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_top {
    display: flex;
    width: 70%;
    height: 2px;
    background-color: #dddddd;
    align-items: center;
    justify-content: space-between;
}
.cart_top_item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    color: #dddddd;
}
.cart_top_cart i {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_top_item i {
    border: none;
    background: none;
    border: 1px solid #16c0eb;
    color: #16c0eb;
}
/*------------------------- style .cart_content ----------------------------*/
.cart_content {
    display: flex;
}
.cart_content .cart_content_left {
    flex-basis: 65%;
    /* background-color: #666; */
    border-right: 1px solid #9999;
}
.cart_content_left img {
    width: 170px;
    height: 230px;
    margin-top: 20px;
}
.cart_content_left table tr th {
    border-bottom: 2px solid #dddddd;
    padding: 0 20px;
    padding-bottom: 20px;
}
.cart_content_left table tr td {
    padding: 0 20px;
}
.cart_content_left table td input {
    width: 40px;
    text-align: center;
}
.cart_content .cart_content_right {
    flex-basis: 35%;
    margin-left:20px ;
    /* background-color: #f9ed4e; */
}
.cart_content_right table {
    margin-bottom: 20px;
}
.cart_content_right tr th {
   border-bottom: 1px solid #dddddd;
}
.cart_content_right tr p  {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.cart_content_right table th {
    padding-bottom: 20px;
}
.cart_content_right table td {
    padding: 10px 0;
}
.cart_content_right table {
    width: 100%;
}
.cart_content_right_text {
    margin-bottom: 20px;
}
.cart_content_right_text p {
    padding: 10px 0;
}
.cart_content_right_text i {
    margin-right: 20px;
}
.cart_content_right_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.cart_content_right_button button {
    padding: 10px 35px;
    margin: 0 10px;
    background: transparent;
    border: none;
    border: 1px solid #dddddd;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
.cart_content_right_button .dathang {
    background-color: #000;
    color: #fff;
}
.cart_content_right_button .dathang:hover {
    background-color: #fff;
    color: #000;
}
.cart_content_right_button .thanhtoan:hover {
    background-color: #000;
    color: #fff;
}
.cart_content_right_login {
    text-align: center;
    padding-top: 20px;
}
.cart_content_right_login p {
    margin-bottom: 10px;
}


/* ----------------------------style address------------------------------------ */
.address {
    padding-top: 100px;
    padding-bottom: 200px;
    border-bottom: 3px solid black;
}
.address_content {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 50px;
}
/* -----style .address_content_left----- */
.address_content_left {
    flex-basis: 50%;
    /* background-color: #2fab50; */
}
.address_content_top h3 {
    margin-bottom: 20px;
}
.address_content_top i {
    display: flex;
}
.address_content_top i p {
    margin-left: 10px;
    margin-bottom: 20px;
}
.address_content_top input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 20px;
}

.address_content_top a {
    text-decoration: none;
    color: #000;
}
.address_content_bottom_items {
    margin-right: 20px;
    width: 300px;
    outline: none;
    margin-bottom: 20px;
}
.address_content_bottom_content  {
   display: flex;
}
.address_content_bottom_content input {
    width: 300px;
    outline: none;
}
.address_content_bottom {
    margin-top: 50px;
}
.address_content_bottom_diachi input {
    width: 620px;
    outline: none;
}
.address_content_bottom_button {
    text-align: center;
}
.address_content_bottom_button button {
    padding: 10px 30px;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid #dddddd;
    margin-top: 20px;
}
.address_content_bottom_button button:hover {
    background-color: #000;
    color: #fff;
}
/* -----style .address_content_right----- */
.address_content_right {
    flex-basis: 50%;
    /* background-color: #C82E31; */
}
.address_content_right {
    border-left: 1px solid #dddddd;
}
.address_content_right table {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.address_content_right tr th {
    padding-right: 70px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
}
.address_content_right tr td {
    padding-top: 10px;
}
.address_content_right tr td p {
    padding-bottom: 20px;
}
.border_top {
    border-top: 1px solid #dddddd;
}

/* -------------------------style Abate--------------------------- */
.abate {
    padding: 100px 0;
    border-bottom: 3px solid #000;
}
.abate .abate_container_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* style .abate_container_left */
.abate_container_left {
    /* background-color: #C82E31; */
    flex-basis: 55%;
    height: 600px;
    margin-top: 30px;

}
.abate_container_left_methods_giaohang h3 {
    margin-bottom: 20px;
}
.abate_container_left_methods_giaohang input {
    margin: 0px 10px 20px 0px;
    outline: none;
}
.abate_container_left_methods_giaohang p {
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
}
.abate_container_left_methods_thanhtoan p {
    margin-bottom: 20px;
}
.abate_container_left_methods_thanhtoan input {
    margin: 0px 10px 20px 0px;
    outline: none;
}
.abate_container_left_methods_thanhtoan i {
    margin-bottom: 20px;
    font-size: 27px;
}
/* style .abate_container_right */
.abate_container_right {
    flex-basis: 45%;
    /* background-color: #16c0eb; */
    height: 600px;
    padding-left: 80px;
    border-left: 1px solid #dddddd;
}
.abate_container_right_top .abate_container_right_sale {
    border-bottom: 1px solid #dddddd;
}
.abate_container_right_top .abate_container_right_sale input {
    background: transparent;
    outline: none;
    border: 1px solid #dddddd; 
    padding: 8px 60px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.abate_container_right_top .abate_container_right_sale button {
    padding: 6px 45px;
    background: transparent;
    outline: none;
    border: 1px solid #dddddd;
    background-color: #000;
}
.abate_container_right_top .abate_container_right_sale button i {
    color: #fff;
    font-size: 20px;
}
.abate_container_right_top .abate_container_right_sale button i:hover {
    color: #FF3333;
}
.abate_container_right_top select {
    margin: 30px 0;
    width: 100%;
    height: 40px;
    outline: none;
}
.abate_container_right_bottom table tr th {
    text-align: left;
    padding-right: 10px;
}
.abate_container_right_bottom table tr td p {
    padding: 10px 0;  
}
.abate_container_right_bottom table tr td {
    padding: 10px 0;
}