#bk{
    font-style: italic;
    font-size: 20px;
    text-shadow: 6px 5px 10px blue;
    text-transform:uppercase;
    font-family: Arial, Helvetica, sans-serif; 
} 
body{
    background-color: aquamarine; 
    background-position: top center;
    background-image: url("../ở\ đâu\ thế.jpg");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-attachment:fixed;
}