#d0{
    width: 500px;
    height: 500px;
    background-color: hotpink;
    position: relative;
}
#d1{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 50px;
    bottom: 50px;
}
#d2{
    width: 100px;
    height: 100px;
    background-color: rgb(22, 210, 147);
    position: absolute;
    top: 90px;
    z-index: 3; /*Dùng để sắp xếp thứ tự của các thẻ (Chỉ sử dụng được khi có position) */
}
#d3{
    width: 150px;
    height: 150px;
    background-color: rgb(32, 167, 48);
}
body{
        background-color: gold;
}
.fixed{
    background-color: brown;
    color: deepskyblue;
    position: fixed;
    top: 10px;
    width: 300px;
    height: 100px;
    opacity: 0.5;
}
/* Thuộc tính position trong CSS dùng để xác định vị trí hiển thị cho thẻ HTML và thường được dùng để xây dựng CSS cho menu đa cấp, tooltip hoặc một số chức năng khác. */
/* static:	Dạng mặc định - sẽ hiển thị theo đúng thứ tự của nó (thường dùng để hủy các thuộc tính bên dưới)
relative:	Định vị trí tuyệt đối (vị trí bao ngoài), lúc này các thẻ HTML bên trong sẽ coi nó là thẻ cha
absolute:	Định vị trí tương đói theo thẻ cha (thẻ khai báo relative) hoặc thẻ body nếu ko có khai báo
fixed:	Định vị trí tương đối cho của sổ Browser của trình duyệt (khi kéo scroll nó sẽ không bị ẩn đi)
inherit:	Thừa hưởng các thuộc tính từ thành phần cha (thành phần bao ngoài nó)*/