*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (Kiểu chữ, dọc ngang,....)
*/

.wrapper{

}
.header{
    height: 46px;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
} 
nav  ul li{
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}  
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 46px;
    
}
nav > ul > li:hover{
    background-color: #D7D7D7;
}
nav ul li:hover{
    background-color: #D7D7D7;
}
nav ul li:hover a{
    color: black;
}
nav a:hover li {
    background-color: #969393;
}
.subnav{
    display: none;
    position: absolute;
    left: 0;
}
nav ul li:hover .subnav{
    display: block;
}
nav .subnav li{
    width: 100%;
}
ul .subnav:hover {
    background-color: aliceblue;    
}
ul .subnav a{
    text-transform: none;
    color: black;
}
/*Search*/
.search{
    position: absolute;
    right: 0;
}
.header .search a{
    color: #fff;
    padding: 16px 26px;
}
.search a:hover{
    background-color: #FF0000;    
}
.slider{
    min-height: 500px;
}
.container{

}
.footer{

}