* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
}
.container {
    background-color: rgb(17, 17, 59);
    display: flex;
    width: 80%;
    height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tab_button {
    flex-basis: 20%;
    background-color: rgb(20, 68, 68);
}
.tab_button button {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 18px;
    position: relative;
}
.tab_button button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: aqua;
    left: 0;
    bottom: 0;
    transition: 0.9s;
}
.tab_button button:hover::after {
    width: 100%;
}
.content_tab {
    flex-basis: 80%;
    background-color: #7777;
}
.content_tab1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-self: center;
    transform: translateX(100%);
}
.tab_button .tab1:hover.content_tab1 {
    transform: translateX(0);
    /* overflow: visible; */
}